extends layout

block content

    div.row
      div.col-md-4
        form( role="form" name="login", action="/schools/login", method="post")
          div.form-group
            label(for="username") Email ID
            input.form-control(type="email", id="username", name="username", required)

          div.form-group
            label(for="password") Password
            input.form-control(type="password", id="password", name="password", required)

          button.btn.btn-primary(type="submit") Submit